<div class="apex-container">
  <h1 class="center" style="color:black;text-transform:uppercase;"><img class="apex-logo" src="https://lh3.googleusercontent.com/IAdI-pkkEN_L09uR45lM1rRhT_9kHIOvvUpXXNZJVlLE1TbZcDdgtihRO0vYrSmN0KFrMljpxyl0AFQCVnq3aix-V6_rNAH_vYi1A8KHYLGBvRlvCfz7e2eQ2XTmwDavoFS02PCZGPEL4bG3WjafYqGiXFJ5nhzWzt33pCIH7dWw-c6MSMq93oVMd8N2dbCEhWSdLEHWl_FH7MRqBNgFrd9Drcu66HbNUGqr2jdfr_XjhrNKVy-itW5JGxnBf68_PDVw3rfpyd_2XFl-J_j_2e4MSvTkwqQZkMKzKAvtESLOvfyfh7nWKPsBbKkyjH5A2CD-ZMKN5W9FuSIYYlvoi8MFLyyM1Uj8O42WcXi1r-fedw4dkSt_dWBhdp0TDbEzriL_XekEx64PCGCxTgD9b2_MZ-PWNSBvl61j7Kab4KQeF_vUG0HtwGjwI9qUUjs8nbyi_WjHbVoVMNt2zBjjMbq0U813fA1NVop-TutpkLqpeQvm7haCByLvqbexr4CXHxr1bVml4StG5e3KSPWFQDbcUmPj_Yo4LL0jYus3PjdWhOoXP5w96gEPG2Jz-NVBJsT5xoPelT6WWtSduhftnXjYlbzQcLxubj32eoCOPGu5IcdxH4K34kA0G8aQNQEWRnexn_2_kp48DHDrKwq6I37ywkt-dvk=w164-h60-no" alt=""> Health Clubs</h1>
  <div class="container">
    <!-- <h5 class="center">Florida Location | The #1 Health Club in Seminole County</h5> -->
    <p class="center">
      Matt currently trains and coaches at the #1 Health Club in Orlando, voted on by Orlando Magazine, Athletic Apex Health Clubs. Atheltic Apex provides its membership with the ultimate health club experience at an affordable price. Athletic Apex Health Clubs provides the most exercise equipment, free weights and group exercise classes in the state of Florida.
    </p>
    <div class="row">
      <div class="col s12">
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="https://lh3.googleusercontent.com/w1zVySG-Ap05cHSRKVUHOIv8FGx7z4kj0qnUAB5d3ndeVmLHg4Q02Gvb1TdmnkTvvX-GSQuMGFnV5qrdZpiFaRjC-9clSMj-Q1NWknoEsurE_l-q-_UsdgIVqWiCkQJBfqha09qzyF-sgk6n4Nnq7CyKvudXSCw3CA26-EEc_n2QfYsDuuwgoMEOpEdVLROGWMPHCuvyZHuwfiQ55cXjfLqaM5wi4oKr2q7C_nndXnd8dqUXtuR8BE_IXya5hc512VIudCXaw-Gblv18JWLCmvr0I-sBOkrxoSFqepuXkFU00A2eubqr79UmTO9thPY3QWTgisIb-Os84mobOVhQ7BGMJ3xwlJACClytiwmdwwDZ6Bl38Fk--Naan4ef5xxVK8ps1gYu7tzoeRdBj1559IEgQukrJUirMADUIMqDLWtDJX57Ht-azlneLhswcwMlq6fstuaLD2OZUlDwWJpG6fxd5qOPjxmE9NfeTyjg4sCTF5uXRO8mIEOHzkizl_kRFCBLJXmh1dj-o2Om-fo8g7ktM7HANHQlO9knu6dfKCDuQOp62lqNizC_yx-67Bj-4al_EXaxLyHu_aXKeELCDREAFycC5rvQ_AUGjW2u2xKmOvWSM-j19gKXyj8Ki0WDebho45ZdHCjcGIqfA0LFReI0pRA1fL8=w1154-h580-no">
              <div class="caption center-align">
                <h3>Atheltic Apex Florida</h3>
                <h5 class="light grey-text text-lighten-3">The #1 Health Club in Seminole County</h5>
              </div>
            </li>
            <li>
              <img src="https://lh3.googleusercontent.com/lWWeHZTFgadNALZwokBVEELMklQmdTOu9GdZhFH6k5K4cqPYcN0EYhcjY5gFNJnZOMH-6UtxUjS9ZYexDlCpLdTrRO6-1297G-CYtmauA1sBJdFBU3drz8nQKtyG5L6itvbsvbiFbmcDV55XEla5uFvsaEE7RPW-iPpdddGsScR2GR728G8emLvW8GrGfE5GV20pOii4dlJKARCJ9BIRTOnx3xbGjK7Nw4VjzYx2OshJnqq1mmH1a0OsiL68-FlgVjhPkkWeJEvrpHWLksdS4jBqIcR8HSLAk_j0AMUbsO4MBC-KWoiRZmLi8kV9wwVTruPFlPjKVKIIB6JjslKgfmP_f9WTVGPeh7Z11nOADyVUM4w-Qrn9CukKnlv7TO-Fv6cezPvGC7g_1pTpFHk0WbHzwdTifP-JawSFtIdTkHU6LoWVPgkDyNFGa1FhPKbOxLWHqm8cSp769epDwAcgtgKx5J_xUAjPXiHrxZZE3GzVepNy952JYh-29rwsOwFwIEMfPM5zpH8EFRftfHNhIJNT7v1k9GmwHx7rj0EZs0DzbVMA2jFU13aMMnPrd-YwCRsdvkCSg9318FwCOqLiPWpIG3TCdajHIJAbs8aksULmY13e9UCha32mH37S85AF7aWHpkE5rxxOsGbeFGQkbkxxerW1q9Y=w1154-h626-no">
              <div class="caption left-align">
                <h3>Fitness Zone</h3>
                <h5 class="light grey-text text-lighten-3">The Most Exercise Machines in Seminole County</h5>
              </div>
            </li>
            <li>
              <img src="https://lh3.googleusercontent.com/Whek57qwkHC7-6N_B1JmgkynR6o0irxD4ed1An9C-so-SAU7ivcZCCdVOQl3VPiQBkaRbko6_uX618b6eWHDc9bumLZ5Re_depDH6GrWJbD47QhQc8Sqd1dQ1tcZkmBR8TzQOjUkJ5EPyBys0BzTUQAwqeaC_zLS1nLB-pDDv2ZFZ4EHHNr5oeHbM6HCx7DOofNcX2OrQrs0uPayNQsrqFDY_t5xF_alzyZ7rme5HG5bQ6eJaH5v0YLQ-GHQkcF2zSlY1XUp9og8TQ4Dpm_yv_5lSub1Aa7STGqMbat6YLQzgfNva6G9ezltEeW5mzXqCOdBhEIijS3ehc8CLPCyeiYE-ViGcN3uSdYkGlWN1x_12wtwSHsd_009M9h1sOVIi33TnntR_9bv0LQhffIqnpOJRbx7tsejlmUVDK5gkY6U_Chf9zQbmpvdCwHqQgD3g5jcKN9gt0egAw5uYXSN_0spKwRcvRgLEvZ-tL53b22xWaluu-3wUj-9ldFaG9nh6Q_NxvDGFLS3VwxSHDw3cQBzmubm1wnLAnHEMwYAHjsKhaFqIitv_QsVO2i3FpMHn_RaXP5T0JfSdYpmGW3Cbfhu61Tepa3AXLXrncw8R5qxWXpxig4bCjIAXgSGyBn4teG-veFvR-NcFS9NFLRRF3IzZN1Exb4=w1154-h565-no">
              <div class="caption right-align">
                <h3>Cardio Zone</h3>
                <h5 class="light grey-text text-lighten-3">The Most Cardio Machines in Seminole County</h5>
              </div>
            </li>
            <li>
              <img src="https://lh3.googleusercontent.com/eTNzCm3esm1cyCT_Mj2D7wIbH1GSKKIkX9yIRxZy0JDnrBtU_nq45wog68BuwrbfMA5Ezlg42aP6XsQRmqAhl3ynZCeUqIxJ3D6HFjGvn5SXZwvKvq5JWXw1QS01Y-Qgrmospi_5FrIKQfsViOfaI_ZJTm7vsa-5WbPE4k66GUHAv932kamEstHFjFcFwFY2OXDKWNNRYJeTsLXf_t0ZyR-t2uNZFV1MXhMVwNU0YX466Ic7NIj4VwpJL8Tp_eaGSrERfDi_zZYbMQh3hEcZofY76UG3WT0LljTlJYUdt8ZiXx_Tnv0MXayYDBVkq1HpgJMeufM7D03il3IgFBrpj3GASQajei_1mt13kYjv4O5HBzISTc48NUMIO3XrDt3s1q5nOqgkBaT7dD-8yG2IowRvsvE2x-6Fm0oGnVRFoOP4ctHpbCvjClJBeo4fVKkCUgWthN884ZdmOxMd01zxEF-n_yH6kvAP2jL0YymImZ89vvIwekibMtZJz-adUVBQoNYsmUi5qbna-RCl8YIxJty5gloPomoQoY1Conzqp39-b3_QLtf9Ir6-Gns974Wlrtey59JSMa1G2DsOHW1aHjJu3GZvO6wSZqCicM0rr_i3vfCo3WAUkgkaKi0TqjaH6JNlbRwz3eQmK9L5EoxBp9H9VIvVNc4=w1154-h638-no">
              <div class="caption center-align">
                <h3>Outdoor Zone</h3>
                <h5 class="light grey-text text-lighten-3">The Most Largest Outdoor Workout Space in Seminole County</h5>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="center apex-cta-btn">
      <a href="https://athleticapex.com" class="waves-effect waves-light btn apex-btn" target="_blank">Visit Athletic Apex Florida</a>
      <a href="https://athleticapex.com/vip-tour-form/" class="waves-effect waves-light btn apex-btn" target="_blank">Schedule a VIP Tour</a>
    </div>
  </div>
</div>
