<div class="contact-container">
  <h1 class="center">Contact Matt</h1>
  <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSect420ThzSEsdza90vj9mdc5b2Kxu0u9SeP0EHnKngCwl7RQ/viewform?embedded=true" width="90%" height="1327" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
  <div class="container">
    <h5>Let's work! Tell me your goals</h5>
    <div class="row">
      <form class="col s12" method="POST" action="https://formspree.io/vahalafitness@gmail.com">
        <div class="row">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix" id="contact-form-icons">account_circle</i>
            <input id="name" type="text" name="Name">
            <label for="name">Name</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix" id="contact-form-icons">email</i>
            <input id="email" type="email" class="validate" name="Email">
            <label for="email">Email</label>
            <span class="helper-text" data-error="Please enter a valid email address" data-success="Valid email"></span>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix" id="contact-form-icons">date_range</i>
            <input type="text" class="datepicker" name="Date">
            <label for="datepicker">Preferred dates?</label>
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix" id="contact-form-icons">access_time</i>
            <input type="text" class="timepicker" name="Time">
            <label for="timepicker">Preferred time?</label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix" id="contact-form-icons">create</i>
            <textarea id="contactTextArea" type="text" class="materialize-textarea" name="Message" data-length="420"></textarea>
            <label for="contactTextArea">What would you like to improve?</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light right" onclick="M.toast({html: 'Message sent', displayLength: 5000})" type="submit">
          <input type='submit' value="">Send Message
          <i class="material-icons right">send</i>
        </button>
        <input type="hidden" name="_next" value="/"/>
      </form>
    </div>
  </div>
</div>
