<div class="home-container">
  <h1 class="center">
    <img class="home-vf-logo" src="https://lh3.googleusercontent.com/S8Km68HW6F6ny0gFJgYwVE-XZ6bezIIQ6KspzgVZsBJc6N38c7vGR0a2yYzwN7Vn-1mh47ZWxYT4PctA7fMwpxeU2vuRTycSdRFbWo6Mtm6JyX2-nRQyqqVfYX2kLxs9zDhzlxZM9U9EBVzYb--ZYbdN_s9BYFSNhxOFfmYOlePVOEveti2s4AwYMVz6O32TfcU6a5sC0G_WSrHPF4NLfuAuntrpfDJ7uUMV1o9-_tcerYo6RP6vvI3Aw1GoggnGNHrFkWnI3pHQy1p1Q6iWs-ki4M6VGNHy1kcGXhxiXSoptFvDp6dMY3h4tWGTpyqEzqgFB47Tn3HAB852oSZ9Q_u3bpi9JssIqyrihhBP1sjaMbGj2YVMdbn32S_CmzwIG7F1EKT6P6NTnigr7ByLZWVrgyGbY8rFfzhRl0UnqO-Jw5bqHq-eLFGPPl1dVF-BMtug3hOQdA_EbZChuGcObeEt4M7vqxARWSx_u_srz4YaimAhjLGMi_sB7bYI2RDw5hJwXXL8ZGyIUWATWhvibiVvlRtD-IJRz7pEUDakuQLQtic1CA_B5NQqG5qSwMEovVl9ruONWi3M4qEpiZYWO4V7LD1yURJnfoiCk1zQF_oYHulVvzdtLkNpM2QSAGjDsN3RQKA2vuVc7ETEMCLlkTY315NSm3Q=w1024-h789-no" alt="" aria-hidden="true">
    Vahala Fitness
  </h1>
  <div class="parallax-container">
    <div class="parallax"><img src="https://lh3.googleusercontent.com/SkLnxIjFk95ULxJf4_twagvX8zWlJ6iRDsy22bl0gnp_1E9y6NXoMmT82Apl4WWlcNmj-ddtf3zVMcpwFjRcobtuYwd96N2Y0PXV0eyxFuIQfYMt-s_mjDu7jBbybT9RcjImPCe7XQxl5TPvT-Gydsx3kT5JXkKXAFXIgMd6Yfpoj7hlshE6xeyXl5VQixgFNarEK3H0KKg8jSlHexR7uZPut4qfzATQV7wdLHKPffqQ9HW1VrXamLs354pr2WIBxbTofYrZApIOeAkyXP2Mc65aCOvEIeb5L1sp8Y7VTIonIFvsjG1-5Cagu6SRPA7ePQSUezuAt3z9UvOBRiBRgCQdQ24HpC03D4SNweRON1lNrRHsectxxPus4hXrJ8aA7Yb5CBtnJ-AN6OmPPGjmMEYKM7HKe7Q9Ng6g02PDLgNArfds79_aV7zNEC5_fzEDD6vtj_aLT4y07CRTH_UtTBD9mFhI5wmAZImSKGApJf3F_WaAroVnm4DUk0SDAWpQsOTsLI5ftn6Mx_dJzo8YHbwTR_DVpTzJTfeng3HRkKFRf_t21WJavi_s5TXowa70nvcVQQx4WbxBa3t0J_Pr2lMmsKrQ5jo-FWAO-rb9kX8WxjSwRfQwaW8qPEUIFjkLTgOUpsmv3OlPv0Jbkr5m5SKjcWQqUNqZMbjhAlAMx5MpX4a_blcsUfYauKxp4OX07xnClCHGrs1wt9LdwzH8tak=w1183-h789-no?authuser=0"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <p class="home-intro">Located in the Greater Orlando Area and rooted in corrective exercise and functional fitness, Vahala Fitness provides individual lessons, 1-on-1 coaching, and group classes focusing on form, technique, toning, bulking, and programs tailored to meet your fitness goals.</p>
      <div class="center">
        <a ui-sref="contact" class="waves-effect waves-light btn">Let's work!</a>
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="https://lh3.googleusercontent.com/2OrUj06wnwPztWe1mJX7EHlKBpX7iwQuPdobvu4F437KeHJPPlCO67_43RFO1r-oJZ-oCGDE9NXRvdVyE2wXicUHhR1EQ8kVeasCB7N5MCQTZs1BjSoS8l6bnPeESJ5bgyVz-JiKfMfGvIPmY9sEfDgfNUiOLOdz3lQdrInhy7ih4Cv0LRhUavBJTf70Ic_qkMyzux0neu_j3HX6EdTpTyQIDD0NI9fJ5ASjfBVHZIs3VqVbtFA2z65Ea66W1zJllzw1t987ahLjax7s_EAKYkURQHCtHSyiAmOpJYLMQaDnUhSuzKeEAk9EG_UOVAVkA-M5nPErQL4z9Kwp5dUsfJzUtaYRllgrm-051HKI3tn5w2ZrH8e3VkEoVAF2j4uNMbHfjGFIKYAQS5ttcjR-zfs6pttAblD4iVH4o6piOaJ_HQEN7IWVhNE9uZOrESLUixDRXHjlD7oVMLiv4QM-0OqJFA5rV5OyjnVWV8ZSGDuC9cwXq_WmL4ZJse0NyPbGDSy_KIfGpEveNl1oYJ8SOFk26TcCOGOTx00C6unbPTPi76Booa0C1-5ZLXtQOxFJ4i2zwbmnfDxRTjOqtJ_Aix-K2VEaf8D6SAOhn9eW90NPZYKnN9wgjc66FShvACDJIajNQFf-fLWbSZYbAjYownaYhpiuY4spItVrLkwOruZh3TjkxjYq2XfA0e6q0Kk1hjbWRDPYsIRhLMsv8zY1sd4=w987-h789-no?authuser=0"></div>
  </div>

  <!-- <div class="container">
    <br />
    <div class="row">
      <div class="col s12 l6 home-text">
        <h5>Fitness philosophy & Biomechanics</h5>
        <p>
          Matt Vahala is a certified Biomechanics Specialist. Biomechanics is an interactive system of assessment, exercise, and nutrition that restores and enhances the human body, a system created at the Athletic Apex Health Clubs.
        </p>
        <p>
          Your body’s neuromuscular system and biochemistry is unique and unlike any other human in the world. Accurately understanding the specific intricacies and demands of our body removes the guesswork from knowing that forms of exercise and nutrition are best for your body. Biomechanics scientific personal training uses the most advanced bio-assessment technology and method to take you further into understanding your body than you’ve ever been before. Not only does Biomechanics scientific personal training gets extraordinary results it gives you insight and the blueprint of the unique one of a kind needs to your body to help your maintain your results for a lifetime.
        </p>
        <p>
          Visit <a class="text-link" href="https://www.Biomechanics.info" target="_blank"> www.Biomechanics.info</a> for more information.
        </p>
      </div>
      <div class="col s12 l6 home-card">
        <div class="card">
          <div class="card-image home-card-image">
            <img src="https://lh3.googleusercontent.com/7otkJ_RjeDLVfkWeJPsx6ex6hne6q4nST1msooQ-ciNjBmQQ8iju3A-21HYaQyWJgl42DTrDvemwpogl2UFZTl28yrbxD5Mjb4N1N0Aadr9cOMYzs3RKLDqpBDhTeU8lJ0lT3VBHdooKZz83GBXkQn2ri2h261QQTaiymwQ0GLCs4a4H8gCSTgd7I1oifLxrA3jh0FfIo8ltq4pUsnAtu1N0I_eCdRatmlcLU_ybFf7HpB4DaaNyzRz2r59BbXIn4Sg1XHMVK1kuZU-vHLwK8WGRaGCFtpL98dbUVGl_Wkn2fsjuM8nisnrTHB5QDaDZPVlf_vk3ZLLsRVrMa1DF0nVCqGq4szZPtcMrc7XP3ezkCvdlD7xOjSDaLZRI041aXwEE7IvPujyBoWsCgy83SghJ6NB6NjZYEl8K2kIN8geVVCo_xTpKVuSZaYcWI2pvV5esZbmi0ixXDZzWsk6xG159kolB0uNJnNOfgLug6u3jE_0Oh2R-nJHDLYJVBOpHJBMSIhjguI_xPCIZapVn-UQCfCvx3nP-kVOXEkAg_RLr0W-7R0dJWkrXzz4w_428grlP5BHZk9QxBeMhQM_ilFzK2VOZ9VmK1x4Ad95xYrZLhTIDtzQmK66J0RMCBIgzmx2KA3EWFc49zO60r9iHYHXtwJ2-l90=w405-h323-no" alt="Matt at Athletic Apex Health Clubs">
          </div>
          <div class="card-content home-card-content">
            <span class="card-title">Coaching at Athletic Apex Health Clubs</span>
            <p>
              Matt primarily coaches at Athletic Apex Health Clubs in Orlando, Florida.
            </p>
            <br />
            <p>
              Learn more about the club by visiting <a class="text-link" href="https://athleticapex.com/" target="_blank">www.AthleticApex.com</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
