<div class="home-container">
  <h1 class="center">Vahala Fitness</h1>
  <div class="container">
    <p class="home-intro">Located in the Greater Orlando Area and rooted in corrective exercise and functional fitness, Vahala Fitness provides individual lessons, 1-on-1 coaching, and group classes focusing on form, technique, toning, bulking, and programs tailored to meet your fitness goals.</p>
    <div class="center">
      <a ui-sref="contact" class="waves-effect waves-light btn">Let's work!</a>
    </div>
    <br />
    <h5>Fitness philosophy & Bionetics</h5>
    <div class="row">
      <div class="col s12 m6 home-text">
        <p>
          Matt Vahala is a certified Bionetics Specialist. Bionetics is an interactive system of assessment, exercise, and nutrition that restores and enhances the human body, a system created at the Athletic Apex Health Clubs.
        </p>
        <p>
          Your body’s neuromuscular system and biochemistry is unique and unlike any other human in the world. Accurately understanding the specific intricacies and demands of our body removes the guesswork from knowing that forms of exercise and nutrition are best for your body. Bionetic scientific personal training uses the most advanced bio-assessment technology and method to take you further into understanding your body than you’ve ever been before. Not only does Bionetic scientific personal training gets extraordinary results it gives you insight and the blueprint of the unique one of a kind needs to your body to help your maintain your results for a lifetime.
        </p>
        <p>
          Visit <a class="text-link" href="https://www.bionetics.info" target="_blank"> www.Bionetics.info</a> for more information.
        </p>
      </div>
      <div class="col s12 m6">
        <div class="card large">
          <div class="card-image home-card-image">
            <img src="https://lh3.googleusercontent.com/JYI2ZMIZY5KKkdIxyP27cvd0Q9IfUXRXr0JcPqnK9j-GwkXUH6QZAD7h6fqlWbKWuzeqbgpjVELwY0qotuv_kn8Wxmv1j4F2rl85Rjl5xy8djiBdQ_VpiVsfgZs-w1edGh_XqKQMcaVIKzbSi88pqBXGnR9s26LQJjdd6kFZymFUpUQrVQqrK4gbJ4Tb_3VXlP_K0b9SAPIUZNt_3fibqL_7n9Ua0pdCDAoat8aFU8Gkl2mxr6p-JKrOIQ6AwXnykPRpVZQdrKQVGeV0v7TTU8REkm7B4evWV6THSwMp5VAQCNUnB0dUiSMkmuc-bWiAS20IDQUdetTxJkv59D0_9Tp_HqKyG0DMT5ovTiyZFWCLcRC25yPHOX8qaZcSGEehRiuDaQ_lvsoskU5LNFvawtFk6JMNg4cujfTa97ct6M6ZHMD48sxgX7fdWPwL_h31EEeopM3425-C-jCt3Mlcne_0MK_kaYZZ3uCqtdhR52LY2DuNVMOWT9JFfaoGe05AIZ1zsn4sGRYcPhHbCiiyWbPVVeH_aCGxjPnJRYPGP9xdl9FPAopNEQYAqw1V3jVdfVwmnjbPD_mKsLOhDrF7kJLwiS3cc4REDQsCrnTW7hrWWpVuOo9I0YXQuvCFTIdkeR1flOt34lDssHAiOtMIdaRqQ6iv7OU=w526-h569-no" alt="Matt at Athletic Apex Health Clubs">
          </div>
          <div class="card-content home-card-content">
            <span class="card-title">Coaching at Athletic Apex Health Clubs</span>
            <p>
              Matt primarily coaches at Athletic Apex Health Clubs in Orlando, Florida.
            </p>
            <br />
            <p>
              Learn more about the club by visiting <a class="text-link" href="https://athleticapex.com/" target="_blank">www.AthleticApex.com</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
