<div class="videos-container">
  <h1 class="center">Instructional Videos</h2>
  <div class="container">
    <div class="row">
      <div class="col s4">
        <iframe width="" height="" src="https://www.youtube-nocookie.com/embed/VcPIH2MNa64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h5 class="center">Video name</h5>
      </div>
      <div class="col s4">
        <iframe width="" height="" src="https://www.youtube-nocookie.com/embed/VcPIH2MNa64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h5 class="center">Video name</h5>
      </div>
      <div class="col s4">
        <iframe width="" height="" src="https://www.youtube-nocookie.com/embed/VcPIH2MNa64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h5 class="center">Video name</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <iframe width="" height="" src="https://www.youtube-nocookie.com/embed/VcPIH2MNa64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h5 class="center">Video name</h5>
      </div>
      <div class="col s4">
        <iframe width="" height="" src="https://www.youtube-nocookie.com/embed/VcPIH2MNa64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h5 class="center">Video name</h5>
      </div>
      <div class="col s4">
        <iframe width="" height="" src="https://www.youtube-nocookie.com/embed/VcPIH2MNa64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h5 class="center">Video name</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <iframe width="" height="" src="https://www.youtube-nocookie.com/embed/VcPIH2MNa64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h5 class="center">Video name</h5>
      </div>
      <div class="col s4">
        <iframe width="" height="" src="https://www.youtube-nocookie.com/embed/VcPIH2MNa64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h5 class="center">Video name</h5>
      </div>
      <div class="col s4">
        <iframe width="" height="" src="https://www.youtube-nocookie.com/embed/VcPIH2MNa64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h5 class="center">Video name</h5>
      </div>
    </div>
  </div>
</div>
