<div class="videos-container">
  <h1 class="center">Instructional Videos</h1>
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l6">
          <div class="card">
            <div class="card-image">
              <a id="videos-materialboxed-trigger-1" class="card-materialboxed-trigger btn-floating halfway-fab blue accent-2 tooltipped" data-position="bottom" data-tooltip="View fullscreen">
                <i class="material-icons">zoom_in</i>
              </a>
              <iframe class="materialboxed" id="videos-materialboxed-1" src="https://www.youtube-nocookie.com/embed/VcPIH2MNa64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
              data-caption="Click outside of the video to minimize (or esc key)"></iframe>
            </div>
            <div class="card-content">
              <span class="card-title">Dumbbell Low Row</span>
              <p>With the goal of isolating the lats, or latissimus dorsi, lay chest on bench with arms hanging loose, pull arms back to hips. Targeting your lower Lat, make sure to bend your arms slightly at the elbow, but not too much, to avoid becoming a bicep workout.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l6">
          <div class="card">
            <div class="card-image">
              <a id="videos-materialboxed-trigger-2" class="card-materialboxed-trigger btn-floating halfway-fab blue accent-2 tooltipped" data-position="bottom" data-tooltip="View fullscreen">
                <i class="material-icons">zoom_in</i>
              </a>
              <iframe class="materialboxed" id="videos-materialboxed-2" src="https://www.youtube-nocookie.com/embed/sTwZgO1tpto?start=4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen   data-caption="Click outside of the video to minimize (or esc key)"></iframe>
            </div>
            <div class="card-content">
              <span class="card-title">Glute Bridges</span>
              <p>Start on your back, press through your heels and knees, lifting your hips towards the sky, and squeeze your glutes at the apex. Add weight to your pelvic area to increase difficulity. A one-legged variation helps build inner hamstrings; take one leg and turn 45degrees, bridging with the other.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l6">
          <div class="card">
            <div class="card-image">
              <a id="videos-materialboxed-trigger-3" class="card-materialboxed-trigger btn-floating halfway-fab blue accent-2 tooltipped" data-position="bottom" data-tooltip="View fullscreen">
                <i class="material-icons">zoom_in</i>
              </a>
              <iframe class="materialboxed" id="videos-materialboxed-3" src="https://www.youtube.com/embed/kaVNKy0CSDc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                data-caption="Click outside of the video to minimize (or esc key)"></iframe>
            </div>
            <div class="card-content">
              <span class="card-title">Straight Leg Deadlift</span>
              <p>Focusing on hamstrings and glutes. Start with feet should-width apart, chest nice and tall. Chest out, push your butt backwards and squeeze hamstrings and glutes as you bring it back up to a full stand. Avoid going to far on the descent, this will train your spinal erector.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
</div>
