* {
  font-family: "Questrial" !important;
}

body {

}

nav {
  background-color: #448AFF !important;
}

h1 {
  color: #448AFF;
}

h5 {
  color: #6BA2FF;
}


/* Materialize-CSS Overrides */
.btn {
  background-color: #448AFF !important;
}
.btn input, .btn textarea {
  color: #FFF !important;
}
/* label focus color */
.input-field input:focus + label, .input-field textarea:focus + label {
 color: #448AFF !important;
}
/* label underline focus color */
.input-field input:focus, .input-field textarea:focus {
 border-bottom: 1px solid #448AFF !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #448AFF !important;
}
/* datepicker */
.datepicker-date-display {
  background-color: #448AFF !important;
}
/* datepicker submit buttons */
.is-selected, .datepicker-cancel, .datepicker-done {
  color: #448AFF !important;
}
/* datepicker slected values */
.is-today, .is-selected {
  color: #FFF !important;
  background-color: #488AFF !important;
}
/* datepicker buttons */
.month-prev:focus, .month-next:focus {
  background-color: #448AFF !important;
}
/* datepicker dropdown */
.dropdown-content span {
  color: #488AFF !important;
}
/* timepicker background */
.timepicker-digital-display, .time-picker-dial {
  background-color: #488AFF !important;
}
.timepicker-close {
  color: #488AFF !important;
}


/* Nav */
.sidenav > li > .user-view > .background > img {
  width: 100%;
  height: 150%;
}
.brand-logo {
  margin-left: 1%;
}

@media only screen and (max-width: 992px) {
  .brand-logo {
    width: 100%;
  }
}


/* Body */
.home-container, .videos-container, .contact-container {
  min-height: 100vh;
}

.videos-container .materialboxed {
  width: 100%;
}

.card-materialboxed-trigger i {
  transition: 0.25s ease-in-out;
}
.card-materialboxed-trigger i:hover {
  color: blue;
  background-color: white;
}

.material-icons {
  font-family: 'Material Icons' !important;
}


/* Footer */
footer {
  background-color: #448AFF !important;
}
.footer-icon-link {
  display: inline-block;
}
.footer-icon {
  height: 100%;
  max-height: 3rem;
}
.footer-icon:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.25);
}
